@import "variables"
@import "fonts"
@import "functions"

// styles
html, body, div, ul, h1, h2, h3, h4
  margin: 0
  padding: 0
  color: darkTan

body
  font-family: helvetica, arial
  background-image: url("halftone.png")

header
  background-color: lightGrey
  height: 75px
  border-top: 5px solid accentGreen
  border-bottom: 1px solid #ddd

  nav
    content()

    h2 a
      inset()

      color: accentPeach
      display: inline-block
      font-family: pacifico
      font-size: 38px
      font-weight: normal
      margin-top: 5px
      text-decoration: none;

    input
      textInput()

      float: right
      margin-top: 16px


h1
  inset()

  color: primaryTan
  font-family: andadasc
  font-size: 90px
  font-weight: normal
  padding: 70px 0 35px 0

h4
  color: primaryTan
  font-size: 25px
  padding: 0

section
  padding-bottom: 25px

  .search
    content()
    text-align: center

    &.invalid input
      border-color: accentPeach

    input

      textInput()

      border: 10px solid #DBDAD3
      font-size: 30px
      height: 45px
      margin: 0 auto
      width: 300px


  .row
    content()
    padding-top: 60px

    h2
      font-family: andadasc
      font-weight: normal
      color: primaryTan
      font-size: 40px



.main-content
  background-color: lightGrey
  border-top: 1px solid #ddd
  margin-top: 60px
  min-height: 400px

  small
    font-size: 15px
    color: lightTan

    &.numbers
      display: block
      text-align: right
      padding-top: 15px

.row
    content()
    margin-top: 60px
    margin-bottom: 30px

    h1
      text-align: center
      font-size: 60px
      padding: 0 25px 35px

    h2 a
      color: accentPeach
      font-family: andada
      font-weight: normal
      text-decoration: none;
      
      &:hover
        text-decoration: underline

    h3
      font-family: andada
      color: lightTan
      padding-bottom: 30px

    p
      font-size: 20px

.legislator-list
  vertical-align: top
  list-style: none
  width: calc( 30% - 30px )
  margin-right: 30px
  display: inline-block

  .legislator
    padding: 15px 25px
    transition: background-color 0.2s
    border-radius: 10px 10px 0 0
    cursor: pointer

    h2
      font-size: 25px
      display: block

    &:hover
      margin-top: -2px
      background-color: lighterTan
      border-bottom: 2px solid lightTan

    &.selected
      background-color: middleTan
      border-bottom: 2px solid middleTan

    &:active
      background-color: middleTan
      border-bottom: 0px
      margin-top: 0px

  h2, h4
    display: inline-block

  h2, p
    margin: 0
    padding: 0

  h5
    margin-top: 0

  button
    background-color: accentGreen
    border-radius: 5px
    border: 1px solid #ddd
    color: white
    font-size: 20px
    height: 40px
    margin: 0
    padding: 0
    width: 140px

  div
    vertical-align: top
    display: inline-block

.about,
.legislator-detail
  .colum
    vertical-align: top
    width: calc( 50% - 20px )
    display: inline-block

.legislator-detail
  vertical-align: top
  width: 70%
  display: inline-block

  h2,
  h4,
  h5
    padding-left: 8px

  p h3
    color: primaryTan
    font-size: 25px
    padding: 0

  h4
    border-bottom: 1px dotted middleTan
    padding-bottom: 25px
    margin-bottom: 25px

  h5
    @inset

    margin: 0
    color: accentPeach
    font-size: 20px
    padding-bottom: 15px

  div
    padding-right: 20px
    position: relative
    height: auto

  ul
    padding: 0
    margin: 0
    list-style: none
    font-size: 20px

    li
      padding: 8px

      &:nth-child(2n)
        background-color: middleTan

      strong
        width: calc( 100% - 100px )
        overflow: hidden
        display: inline-block
        height: 24px

      em
        float: right
        color: accentPeach

@media (max-width: 2000px)

  .main-content .row h1
    font-size: 40px
    text-align: center

  .legislator-list
    width: 100%
    border-bottom: 1px solid #ddd


    .legislator
      display: inline-block
      width: calc(30% - 32px)


  .legislator-detail
    width: 100%
    padding-top: 25px

    .colum
      width: calc(50% - 20px)
      display: inline-block
      padding-bottom: 50px

@media (max-width: 700px)
  header nav
    text-align: center

  .search h1
    font-size: 60px

  .main-content .row h1
    text-align: center

  .legislator-list .legislator
    width: calc(100% - 50px)









