@font-face
  font-family: 'pacifico'
  src: url('pacifico-webfont.eot')
  src: url('pacifico-webfont.eot?#iefix') format('embedded-opentype'),
    url('pacifico-webfont.woff') format('woff'),
    url('pacifico-webfont.ttf') format('truetype'),
    url('pacifico-webfont.svg#pacificoregular') format('svg')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'andadasc'
  src: url('andadasc-regular-webfont.eot')
  src: url('andadasc-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('andadasc-regular-webfont.woff') format('woff'),
    url('andadasc-regular-webfont.ttf') format('truetype'),
    url('andadasc-regular-webfont.svg#andada_scregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'andada'
  src: url('andada-regular-webfont.eot')
  src: url('andada-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('andada-regular-webfont.woff') format('woff'),
    url('andada-regular-webfont.ttf') format('truetype'),
    url('andada-regular-webfont.svg#andadaregular') format('svg')
  font-weight: normal
  font-style: normal