content()
    max-width: appWidth
    margin: 0 auto
    padding: 0 30px

textInput()
    border-radius: 5px
    border: 1px solid #ddd
    color: primaryGrey
    font-size: 20px
    font-style: italic
    height: 30px
    padding: 5px 10px
    width: 200px

inset()
    text-shadow: 0px 1px #ccc, 0px -1px #999