div.suggestion-button
  position: fixed
  bottom: 0
  right: 20px
  padding: 10px
  border-radius: 5px 5px 0 0;
  background: accentGreen
  color: lighterTan
  cursor: pointer
  font-family: andadasc
  font-size: 20px;
  box-shadow: 0px 2px 5px darkTan
  z-index: 1
  transition: padding-bottom 0.2s

  &:hover
    padding-bottom: 20px

  &:active
    padding-bottom: 15px