appWidth = 1200px
appWidthNarrow = 860px
gutterWidth = 20px
serifFont = "Palatino Linotype", "Book Antiqua", Palatino, serif

// Colors
lightGrey = #fcfcfc
primaryGrey = #666

lighterTan = #F2F1EB
lightTan = #DBDAD3
middleTan = #E8E7E1
primaryTan = #807E77
darkTan = #52504B

accentGreen = #3dad75
lightGreen = #A3D681

accentPeach = #ff705a