<header>
  <nav>
    <h2 id='title'>On Behalf</h2>
    <input type="text" placeholder="Search">
  </nav>
</header>
<section>
  <div class="search">
    <h1>Who represents me?</h1>
    <input type="text" placeholder="Enter your zipcode">
  </div>
</section>
<section class="main-content">
  <div class="row">
    <div class="colum">
      <h2>Did you know?</h2>
      <p>

      </p>
    </div>
  </div>
</section>

{{outlet}}
