<section>
    <div class="search">
        <h1>Who represents me?</h1>
        <input type="text" placeholder="Enter your zipcode">
    </div>
</section>

<section class="main-content">
    <div class="row">
        <div class="colum">
            <ul class="legislator-list">
                <li class="legislator">

                    <h2>Mark Steven Kirk</h2>
                    <h4>Senate</h4>

                    <div>
                        <p>
                            Has recieved <strong>$3,506,200</strong> in campaign contributions.
                        </p>
                    </div>


                </li>

                <li class="legislator selected">

                    <h2>Mark Steven Kirk</h2>
                    <h4>Senate</h4>

                    <div>
                        <p>
                            Has recieved <strong>$3,506,200</strong> in campaign contributions.
                        </p>
                    </div>


                </li>

                <li class="legislator">

                    <h2>Mark Steven Kirk</h2>
                    <h4>Senate</h4>

                    <div>
                        <p>
                            Has recieved <strong>$3,506,200</strong> in campaign contributions.
                        </p>
                    </div>


                </li>
            </ul
            ><div class="legislator-detail">

            </div>
        </div>
    </div>
</section>