<section>
    <div class="search">
        <h1>Who represents me?</h1>
        {{input action="actionSearch" placeholder="Enter your zipcode" value=addressValue}}
    </div>
</section>

<section class="main-content">
    <div class="row">
        <div class="colum">
            <ul class="legislator-list">
                {{#each legislator in results}}
                    {{legislator-list-item legislator=legislator}}
                {{/each}}
            </ul
            ><div class="legislator-detail">

            </div>
        </div>
    </div>
</section>